<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>5-Stars Flights</title>
  <link href='http://fonts.googleapis.com/css?family=Catamaran&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./../assets/css/index.css">
</head>

<body class="index__body">
  <% if(locals.user_path) { %>
  <%- include('login', {path: user_path}); -%>
  <% } else { %>
  <%- include('login'); -%>
  <% } %>

  <% if(locals.user) { %>
    <%- include('nav', {username: user.name}); -%>
    <% } else { %>
    <%- include('nav'); -%>
    <% } %>
 
  <form action="/getFlightData" class="flightForm" method="get">
    <div class="flightForm__rows">
      <label for="departure_airport">Miejsce wylotu</label>
      <select class="form-control" name="departure" id="departure_airport"></select>
      <label for="destination">Miejsce docelowe</label>
      <select class="form-control" name="destination" id="destination_airport"></select>
      <label for="passengers_number">Liczba pasażerów</label>
      <select class="form-control" name="passengers" id="passengers_number">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div class="flightForm__rows">
      <label for="date_from">Od:</label>
      <input class="form-control" type="date" name="date_from" id="date_from"
        value="<%= typeof searchData != 'undefined' ? searchData.date_from : '2022-04-01' %>">
      <label for="date_to">Do:</label>
      <input class="form-control" type="date" name="date_to" id="date_to"
        value="<%= typeof searchData != 'undefined' ? searchData.date_to : '2022-12-31' %>">
    </div>
    <div class="flightForm__rows">
      <button class="btn btn-primary" ptype="submit">Wyszukaj lot</button>
    </div>
    <div>
      <span class="flightForm__weather" id="weather"></span>
    </div>
  </form>
  <% if(locals.flightData && locals.flightData[0]) { %>
  <div class="flightsList">
    
      <strong>Loty na trasie <%= flightData[0].departure_airport %> - <%= flightData[0].destination_airport %> od
        <%= searchData.date_from %> do <%= searchData.date_to %></strong>
       <table class="table"> 
        <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Data i godzina</th>
            <th scope="col">Cena/os.</th>
            <th scope="col">Rezerwacja</th>
          </tr>
        </thead>
      <% flightData.forEach(function(flight, i) { %>
      <tr>
        <td>
          <th scope="row">
            <%= i+1 %>
          </th>
          
        </td>
        <td>
          <%= new Date(flight.date).toLocaleString("pl-PL" ,{year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute:'2-digit'}) %>
        </td>
        <td>
          <%= flight.price_euro %> €
        </td>
        <td>
          <a href="/flightDetails?flightId=<%= flight._id %>&passengers=<%= searchData.passengers %>">
            Rezerwuj
          </a>
        </td>

      </tr>
      <% }); %>
    </table>
  </div>
  <% } else if (locals.flightData) { %>
    <div class="flightsList">
      <p>Nie znaleziono żadnych lotów w wybranym terminie!</p>
    </div>
    <% }; %>
  
</body>
<script src="./../js/index.js"></script>
<script>
  document.getElementById('departure_airport').value =
    "<%= typeof searchData != 'undefined' ? searchData.departure : 'Warszawa' %>";
  document.getElementById('destination_airport').value =
    "<%= typeof searchData != 'undefined' ? searchData.destination : 'Paryż' %>";
  document.getElementById('passengers_number').value =
    "<%= typeof searchData != 'undefined' ? searchData.passengers : '1' %>";

    document.querySelectorAll("#destination_airport option").forEach(opt => {
        opt.disabled = false;
    if (opt.value == document.getElementById("departure_airport").value) {
        opt.disabled = true;
    }
});
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>