<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="./../assets/css/index.css">
</head>
<body>
    <% if(typeof errors!= 'undefined') { %>
        <%    errors.forEach(function(error){ %>
        <p> <%= error.msg %></p>
        <%    })        %>
        <% } %>
    <h1>Rejestracja</h1>
    <h2>Formularz Rejestracyjny</h2>
    <form action="/postUserData" method="post">
        <label for="email">Podaj swój e-mail
            <input type="text" name="email" id="email" placeholder="Podaj swój e-mail" value="<%= typeof email != 'undefined' ? email : '' %>">
        </label>
        <br>
        <label for="password">Podaj swoje hasło
            <input type="password" name="password" id="password" placeholder="Podaj swoje hasło" value="<%= typeof password != 'undefined' ? password : '' %>">
        </label>
        <br>
        <label for="password2">Powtórz hasło
            <input type="password" name="password2" id="password2" placeholder="Podaj swoje hasło" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
        </label>
        <br>
        <label for="name">Podaj swoje imię
            <input type="text" name="name" id="name" placeholder="Podaj swoje imię" value="<%= typeof name != 'undefined' ? name : '' %>">
        </label>
        <br>
        <label for="lastname">Podaj swoje nazwisko
            <input type="text" name="lastname" id="lastname" placeholder="Podaj swoje nazwisko" value="<%= typeof lastname != 'undefined' ? lastname : '' %>">
        </label>
        <br>
        <label for="date_of_birth">Podaj swoją datę urodzenia
            <input type="date" name="date_of_birth" id="date_of_birth" value="<%= typeof date_of_birth != 'undefined' ? date_of_birth : '' %>">
        </label>
        <br>
        <button type="submit">Zarejestruj się</button>
    </form>
    <a href="/">Przejdź do strony głównej</a>
</body>
</html>